//-------------------- Base Colors --------------------//

$primary-color: 			#0366d6;
$primary-color-hover: 		darken($primary-color, 7%);
$secondary-color: 			$secondary;

$body-bg:					#dddddd;
$text-color:				#4c4d4d;
$title-color:     			#252b33;