# Ignore Maven & Gradle build output
target/
build/
!**/src/main/**/build/
!**/src/test/**/build/

# IDE files
.idea/
*.iws
*.iml
*.ipr

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VS Code
.vscode/

# macOS system files
.DS_Store

# Helper/Docs
HELP.md
